// Mise en place des variables 
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


$font_main : 'Roboto';
$font_title :'Shrikhand';

$primaire : #9356DC;
$secondaire : #FF79DA;
$tertiaire: #99E2D0;

