button {
    background: linear-gradient($secondaire, transparent) $primaire;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 15px 30px;
    color: white;
    border-radius: 30px;
    border: transparent;
    box-shadow: 3px 4px 8px gray;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;

    &:hover {
        transform: scale(1.15);
        background-color: #AE80E5;
    }
}