.section_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 720px;

    @media screen and (min-width: 720px) {
        flex-direction: row;
        gap: 25px;
    }
}